<nav class="navbar bg-light navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand">Library</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <div sec:authorize="hasAuthority('user')"><li><a class="btn btn-light action-button" th:href="@{/my-loans}">My Loans</a></li></div>
                <div sec:authorize="hasAuthority('admin')"><li><a class="btn btn-light action-button" th:href="@{/lib-admin}">Dashboard</a></li></div>
                <div sec:authorize="hasAuthority('librarian')"><li><a class="btn btn-light action-button" th:href="@{/lib-dashboard}">Dashboard</a></li></div>
                <div sec:authorize="hasAnyAuthority('admin', 'librarian')">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">View</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/lib-dashboard/authors-list">Authors</a>
                        <a class="dropdown-item" href="/lib-dashboard/books-list">Books</a>
                    </div>
                </li>
                </div>
                <div sec:authorize="hasAnyAuthority('admin', 'librarian')">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Create</a>
                    <div class="dropdown-menu">
                        <div sec:authorize="hasAuthority('admin')"><a class="dropdown-item" href="/lib-admin/new-user">User</a></div>
                        <a class="dropdown-item" href="/lib-dashboard/new-author">Author</a>
                        <a class="dropdown-item" href="/lib-dashboard/new-book">Book</a>
                        <a class="dropdown-item" href="/lib-dashboard/new-loan">Loan</a>
                    </div>
                </li>
                </div>
            </ul>
            <ul class="nav navbar-nav ml auto">
                <li sec:authorize="isAnonymous()"><a class="btn btn-light action-button" th:href="@{/login}">Log In</a></li>
                <li sec:authorize="isAnonymous()"><a class="btn btn-light action-button" th:href="@{/register}">Sign Up</a></li>
                <div sec:authorize="isAuthenticated()"><li><a class="btn btn-light action-button" th:href="@{/logout}">Log out</a></li></div>
            </ul>
    </div>
</nav>