.form-container-block {
    width: 50%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background: #ededed;
}

.form-container-title {
    text-align: center;
    margin-bottom: 20px;
}

.container-title { text-align: center; }
.container-section { margin: 50px 0px 100px 0px; }

.float-left { float: left; }
.float-right { float: right; }
.centered-button { display: block; margin: 40px auto 0 auto; }

.search-form { margin-bottom: 50px; }
.search-form .input-group .search-form-text { height: 50px; }
.search-form .input-group-append input { width: 120px; }

.table-author-col { max-width:350px; }

.page-numbers-block { margin: 0 auto; }

.book-card .card { margin-bottom: 30px; }
.card:hover { background: #fafaee; }

.single-book-container {
    position:relative;
    width: 60%;
    min-height:300px;
    border-radius: 4px;
    padding: 0;
    margin-top:50px;
    margin-bottom:50px;
}

.single-book-container-header {
    background:black;
    color:white;
    width:100%;
    padding:15px;
}

.authors-span {
    font-size: 1.1em;
    font-style:italic;
}

.single-book-container-body {
    background: #80808012;
    width:100%;
    min-height:250px;
    padding:15px;
}

.single-book-container-body-desc-title {
    font-weight:bold;
    margin-bottom:0;
}

.single-book-container-body-desc {
    padding:0px 10px 10px 10px;
    line-height:22px;
}

.availability-msg {
    font-weight:bold;
    color:green;
    text-align:center;
    position:absolute;
    bottom:0;
    right:20px;
}

.txt-red { color: red; }

#notification {
    width: 20%;
    position: absolute;
    display: none;
    top: 40px;
    right: 30px;
    min-height: 80px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.reg-log-message {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.success-message { background: #78cc78c7;; }
.error-message { background: #ff000075;  }