<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Creation</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>
    <div class="container" style="width: 50%; margin-top: 50px; padding: 20px; border-radius: 10px; background: #ededed;">
        <h3 style="text-align: center; margin-bottom: 20px;">Create New User</h3>
            <form th:action="@{/lib-admin/create-user}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <input id="firstName" class="form-control" th:field="*{firstName}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <input id="lastName" class="form-control" th:field="*{lastName}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input id="email" class="form-control" th:field="*{email}" type="email">
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input id="password" class="form-control" th:field="*{password}" type="password">
                </div>
                <div class="form-group">
                    <label class="control-label">Role</label>
                    <select th:field="*{role.role}">
                        <option th:each="role : ${roles}" th:value="${role.role}" th:text="${role.role}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Create User</button>
                </div>
            </form>
    </div>
</body>
</html>