<div th:replace="fragments/top"></div>
<head>
    <title>Homepage</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="container">
    <div class="container-section">
    <form class="search-form" th:action="@{/results/page/1}" method="GET">
        <div class="input-group">
            <input class="form-control search-form-text" type="text" name="phrase" placeholder="Search book by title" th:value="${phrase}">
            <div class="input-group-append">
                <input class="btn btn-secondary" type="submit" value="Search">
            </div>
        </div>
    </form>
    </div>
</div>
</body>
</html>