<div th:replace="fragments/top"></div>
<head>
    <title>Registration</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="container form-container-block">
    <h3 class="form-container-title">Create a new account</h3>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <div class="form-group">
            <label class="control-label" for="firstName">First name</label>
            <input id="firstName" class="form-control" th:field="*{firstName}">
            <p class="txt-red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
        </div>
        <div class="form-group">
            <label class="control-label" for="lastName">Last name</label>
            <input id="lastName" class="form-control" th:field="*{lastName}">
            <p class="txt-red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        </div>
        <div class="form-group">
            <label class="control-label" for="email">E-mail</label>
            <input id="email" class="form-control" th:field="*{email}">
            <p class="txt-red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input id="password" type="password" class="form-control" th:field="*{password}">
            <p class="txt-red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success centered-button">Register</button>
        </div>
    </form>
</div>
</body>
</html>