<div th:replace="fragments/top"></div>
<head>
    <title th:text="${book.title}"></title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="container single-book-container">
    <div class="single-book-container-header">
        <b><h1 th:text="${book.title}"></h1></b>
        <span class="authors-span" th:each="a, iterStat : ${book.authors}"
              th:text="${!iterStat.last} ? ${a.firstName + ' ' + a.lastName} + ', ': ${a.firstName + ' ' + a.lastName}"></span>
    </div>
    <div class="single-book-container-body">
        <p class="single-book-container-body-desc-title" style="">Description: </p>
        <p class="single-book-container-body-desc" th:text="${book.description}"></p>
        <p class="availability-msg" th:text="${book.quantity > 0} ? 'Available'"></p>
        <p class="availability-msg txt-red" th:text="${book.quantity} == 0 ? 'Out of Stock' "></p>
    </div>
</div>
</body>
</html>

