<div th:replace="fragments/top"></div>
<head>
    <title>My Loans</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="container">
    <div class="container-section">
        <h1 class="container-title">My Loans</h1>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Book</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
            </tr>
            </thead>
            <tbody>
            <tr scope="row" th:each="loan : ${loans}">
                <td th:text="${loan.book.title}"></td>
                <td th:text="${loan.start_date}"></td>
                <td th:style="${loan.end_date.compareTo(loan.start_date) <= 0 ? 'font-weight:bold;color:red' : 'color:black'}" th:text="${loan.end_date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>